.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-gap: 12px;
	position: relative;
	top: 200px;
	bottom: 200px;

}
.card{
	background-image: url("../image/.jpg");

	background-color: rgb(74, 16, 29);
	padding: 20px; 
	border-radius: 6px;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
	text-align: center;
  color: white;
}

.card p {
  color: white;
}
.card img {
	height:370PX;
	width:230px ;
	object-fit: center;

}
